<% 
    const subgroups = [
        "Abstract Factory", "Factory Method", "Builder",
        "Adaptor", "Composite", "Proxy", "Decorator", "Bridge", "Flyweight",
        "Chain of Responsibility", "Command", "Iterator", "Mediator", "Visitor", "Observer",
    ]

%> 

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous" defer></script>
		<link rel="stylesheet" href="/css/styles.css">
		<link rel="icon" href="/images/rangoli.png" type="image/icon type">
		<script src="/js/index.js" defer></script>
		<title><%= subgroups[type] %> </title>
	</head>
	<body>
		<div class="container-fluid" id="main-container">
			<!-- Navigation Bar -->
			<nav class="navbar navbar-dark bg-dark fixed-top" id="navigationBar">
				<div class="container-fluid" id="navBarWrapper">
					<a class="navbar-brand" onclick="location.href='./'">
						<img src="/images/rangoli.png" alt="" width="35">
						<label>Design Pattern Registry</label>
					</a>
					<button class="btn btn-sm btn-primary" onclick="location.href='/help'" type="button" id="helpBtn">Help</button>
				</div>
			</nav>

            <!-- Main body -->
			<div class="container" id="main-body">
				<div class="container" id="form-wrapper">
					<form action="GET" id="design-form">
                    	<h2 style="padding: 10px;"><%= subgroups[type] %> </h2>
                    <% if (subgroups[type] == "Factory Method") { %>
                        	<div class="row g-3">
								<div class="col form-group">
									<label for="input1"><b>Q1:</b> What's the parent class name? <span style="color: red;">*</span></label>
									<input type="text" class="form-control" id="input1" placeholder="">
								</div>
								<div class="col form-group">
									<label for="input2"><b>Q2:</b> What's the subclass name (1)? <span style="color: red;">*</span></label>
									<input type="text" class="form-control" id="input2" placeholder="">
								</div>
							</div>
							<div class="row g-3">
								<div class="col form-group">
									<label for="input3"><b>Q3:</b> What's the subclass name (2)?</label>
									<input type="text" class="form-control" id="input3" placeholder="">
								</div>
								<div class="col form-group">
									<label for="input4"><b>Q4:</b> What's the subclass name (3)?</label>
									<input type="text" class="form-control" id="input4" placeholder="">
								</div>
							</div>
							<div class="row g-3">
								<div class="col form-group">
									<label for="input5"><b>Q5:</b> What's the factory method's name? <span style="color: red;">*</span></label>
									<input type="text" class="form-control" id="input5" placeholder="">
								</div>
								<div class="col form-group">
									<label for="input6"><b>Q6:</b> What is the parent function's name (1)?</label>
									<input type="text" class="form-control" id="input6" placeholder="">
								</div>
							</div>
							<div class="row g-3">
								<div class="col form-group">
									<label for="input7"><b>Q7:</b> What is the parent function's name (2)?</label>
									<input type="text" class="form-control" id="input7" placeholder="">
								</div>
								<div class="col form-group">
									<label for="input8"><b>Q8:</b> What is the parent function's name (3)?</label>
									<input type="text" class="form-control" id="input8" placeholder="">
								</div>
							</div>
							<div class="row g-3">
								<div class="col form-group">
									<label for="input9"><b>Q9:</b> What is the description for the design pattern? <span style="color: red;">*</span></label>
									<input type="text" class="form-control" id="input9" placeholder="">
								</div>
								<div class="col form-group">
								</div>
							</div>
                    <% }
                        else if (subgroups[type] == "Abstract Factory") { %>
							<div class="row g-3">
								<div class="col form-group">
									<label for="input1"><b>Q1:</b> What's the abstract class name? <span style="color: red;">*</span></label>
                                	<input type="text" class="form-control" id="input1" placeholder="">
								</div>
								<div class="col form-group">
									<label for="input2"><b>Q2:</b> What's the first variant's name? <span style="color: red;">*</span></label>
                                	<input type="text" class="form-control" id="input2" placeholder="">
								</div>
							</div>
							<div class="row g-3">
								<div class="col form-group">
									<label for="input3"><b>Q3:</b> What's the second variant's name?</label>
                                	<input type="text" class="form-control" id="input3" placeholder="">
								</div>
								<div class="col form-group">
									<label for="input4"><b>Q4:</b> What's the third variant's name?</label>
                                	<input type="text" class="form-control" id="input4" placeholder="">
								</div>
							</div>
							<div class="row g-3">
								<div class="col form-group">
									<label for="input5"><b>Q5:</b> What's the first creation method name? <span style="color: red;">*</span></label>
                                	<input type="text" class="form-control" id="input5" placeholder="">
								</div>
								<div class="col form-group">
									<label for="input6"><b>Q6:</b> What's the second creation method name?</label>
                                	<input type="text" class="form-control" id="input6" placeholder="">
								</div>
							</div>
							<div class="row g-3">
								<div class="col form-group">
									<label for="input7"><b>Q7:</b> What's the third creation method name?</label>
                                	<input type="text" class="form-control" id="input7" placeholder="">
								</div>
								<div class="col form-group">
									<label for="input8"><b>Q8:</b> What is the description for the design pattern? <span style="color: red;">*</span></label>
                                	<input type="text" class="form-control" id="input8" placeholder="">
								</div>
							</div>
                    <% }
                        else if (subgroups[type] == "Builder") { %>
							<div class="row g-3">
								<div class="col form-group">
									<label for="input1"><b>Q1:</b> What is the class name? <span style="color: red;">*</span></label>
                                	<input type="text" class="form-control" id="input1" placeholder="">
								</div>
								<div class="col form-group">
									<label for="input2"><b>Q2:</b> What is the first builder method's name? <span style="color: red;">*</span></label>
                                	<input type="text" class="form-control" id="input2" placeholder="">
								</div>
							</div>   
							<div class="row g-3">
								<div class="col form-group">
									<label for="input3"><b>Q3:</b> What is the second builder method's name?</label>
                                	<input type="text" class="form-control" id="input3" placeholder="">
								</div>
								<div class="col form-group">
									<label for="input4"><b>Q4:</b> What is the third builder method's name?</label>
                                	<input type="text" class="form-control" id="input4" placeholder="">
								</div>
							</div>
							<div class="row g-3">
								<div class="col form-group">
									<label for="input5"><b>Q5:</b> What is the fourth builder method's name?</label>
                                	<input type="text" class="form-control" id="input5" placeholder="">
								</div>
								<div class="col form-group">
									<label for="input6"><b>Q6:</b> What is the fifth builder method's name?</label>
                                	<input type="text" class="form-control" id="input6" placeholder="">
								</div>
							</div>
							<div class="row g-3">
								<div class="col form-group">
									<label for="input7"><b>Q7:</b> What is the sixth builder method's name?</label>
                                	<input type="text" class="form-control" id="input7" placeholder="">
								</div>
								<div class="col form-group">
								</div>
							</div>        
                    <% }
                        else if (subgroups[type] == "Adaptor") { %>
                            <div class="form-group">
                                <label for="input1"><b>Q1:</b>  <span style="color: red;">*</span></label>
                                <input type="text" class="form-control" id="input1" placeholder="">
                            </div>      
                    <% }
                        else if (subgroups[type] == "Composite") { %>
                            <div class="form-group">
                                <label for="input1"><b>Q1:</b>  <span style="color: red;">*</span></label>
                                <input type="text" class="form-control" id="input1" placeholder="">
                            </div>   
                    <% }
                        else if (subgroups[type] == "Proxy") { %>
                            <div class="form-group">
                                <label for="input1"><b>Q1:</b>  <span style="color: red;">*</span></label>
                                <input type="text" class="form-control" id="input1" placeholder="">
                            </div>                                  
                    <% }
                        else if (subgroups[type] == "Decorator") { %>
                            <div class="form-group">
                                <label for="input1"><b>Q1:</b>  <span style="color: red;">*</span></label>
                                <input type="text" class="form-control" id="input1" placeholder="">
                            </div>                        
                    <% }
                        else if (subgroups[type] == "Bridge") { %>
                            <div class="form-group">
                                <label for="input1"><b>Q1:</b>  <span style="color: red;">*</span></label>
                                <input type="text" class="form-control" id="input1" placeholder="">
                            </div>          
                    <% }
                        else if (subgroups[type] == "Flyweight") { %>
                            <div class="form-group">
                                <label for="input1"><b>Q1:</b>  <span style="color: red;">*</span></label>
                                <input type="text" class="form-control" id="input1" placeholder="">
                            </div>          
                    <% }
                        else if (subgroups[type] == "Chain of Responsibility") { %>
                            <div class="form-group">
                                <label for="input1"><b>Q1:</b>  <span style="color: red;">*</span></label>
                                <input type="text" class="form-control" id="input1" placeholder="">
                            </div>          
                    <% }
                        else if (subgroups[type] == "Command") { %>
                            <div class="form-group">
                                <label for="input1"><b>Q1:</b>  <span style="color: red;">*</span></label>
                                <input type="text" class="form-control" id="input1" placeholder="">
                            </div>          
                    <% }
                        else if (subgroups[type] == "Iterator") { %>
                            <div class="form-group">
                                <label for="input1"><b>Q1:</b>  <span style="color: red;">*</span></label>
                                <input type="text" class="form-control" id="input1" placeholder="">
                            </div>          
                    <% }
                        else if (subgroups[type] == "Mediator") { %>
                            <div class="form-group">
                                <label for="input1"><b>Q1:</b>  <span style="color: red;">*</span></label>
                                <input type="text" class="form-control" id="input1" placeholder="">
                            </div>          
                    <% }
                        else if (subgroups[type] == "Visitor") { %>
                            <div class="form-group">
                                <label for="input1"><b>Q1:</b>  <span style="color: red;">*</span></label>
                                <input type="text" class="form-control" id="input1" placeholder="">
                            </div>          
                            <% }
                        else if (subgroups[type] == "Observer") { %>
                            <div class="form-group">
                                <label for="input1"><b>Q1:</b>  <span style="color: red;">*</span></label>
                                <input type="text" class="form-control" id="input1" placeholder="">
                            </div>          
                    <% } %>

                            <div class="btn-wrapper container">      
								<button type="reset" class="btn btn-secondary" onclick="location.href='./'">Back</button>
                                <button class="btn btn-primary" id="submitBtn" type="submit" name="submit-btn">Submit</button>
                            </div>
                    </form>
				</div>
			</div>

		</div>
    </body>
</html>

