<% 
    const subgroups = [
        "abstract factory", "factory method", "builder",
        "adaptor", "composite", "proxy", "decorator", "bridge", "flyweight",
        "chain of responsibility", "command", "iterator", "mediator", "visitor", "observer",
    ]

%> 

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Forms</title>
        <script> 


        </script>
    </head>
    <body>
        <h3>
            Subgroup: <%= subgroups[type] %> 
        </h3>
    </body>
</html>

